body{
    background-color: black;
}
fieldset{
    background-color: rgb(26, 27, 27);
    color: rgb(211, 205, 205);
    border-radius: 30px;
    width: 30%;
    align-items: center;
    border: none;
}
.kana{
    padding-left: 600px;
    padding-top: 150px;
}
input {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(238, 78, 78);
    border-radius: 10px;
    background-color: black;
    color: gray;
  }
  .block {
    
    width: 90%;
    border: none;
    background-image: linear-gradient(to right, rgb(250, 8, 48) , rgb(255, 94, 0));
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    color: white;
    border-radius: 10px;
  }
  